* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    z-index: 10;
}

.logo {
    color: #e50914;
    font-size: 30px;
    font-weight: bold;

}

.header-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-right select {
    background: #111;
    color: white;
    border: 1px solid #777;
    border-radius: 4px;
    padding: 8px 15px;
}

.signin {
    background: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 9px 16px;
   font-weight: bold;
    cursor: pointer;
}


/*  HERO  */

.hero {
    height: 430px;
    background:
        linear-gradient(
            rgba(0,0,0,.65),
            rgba(0,0,0,.85)
        ),;
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     border-bottom: 3px solid #e50914;
    
}

.hero-content {
    margin-top: 50px;
    max-width: 700px;
}

.hero h1 {
    font-size: 45px;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 18px;
}

.price {
    font-size: 17px;
    margin-bottom: 18px;
}

.small-text {
    font-size: 13px;
    margin-bottom: 15px;
}

.email-box {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.email-box button:hover {
    background-color: #b20710;
}

.email-box input {
    width: 350px;
    height: 52px;
    background: rgba(20,20,20,.8);
    border: 1px solid #777;
    border-radius: 4px;
    padding: 0 15px;
    color: white;
    font-size: 15px;
}

.email-box button {
    height: 52px;
    padding: 0 25px;
    background: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;

}

.email-box button:hover,
.signin:hover {
    background: #b20710;
}


/*  CONTAINER  */

.container {
    width: 90%;
    max-width: 1100px;
    margin: 35px auto;
}

.container h2 {
    font-size: 20px;
    margin-bottom: 15px;
}


 /* TRENDING  */ 

.trending {
    display: flex;
    gap: 18px;
    overflow-x: auto;
    padding: 10px 5px 20px;
}

.trending::-webkit-scrollbar {
    height: 5px;
}

.trending::-webkit-scrollbar-thumb {
    background: #555;
}

.movie {
    position: relative;
    min-width: 185px;
    height: 230px;
}

.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.movie span {
    position: absolute;
    left: -8px;
    bottom: -10px;
    font-size: 75px;
    font-weight: bold;
    color: white;
    z-index: 2;
}

.movie:hover {
    transform: scale(1.08);
}


/*  REASONS */

.reasons {
    display:flex;
    gap: 8px;
    justify-content: space-evenly;
}

.reason-card {
    position: relative;
    min-height: 180px;
    min-width: 260px;
    padding: 20px 15px;
    border-radius: 7px;
    background:
        linear-gradient(
        
            #201437,
            #130b22
        );
}

.reason-card h3 {
    font-size: 18px;
    margin-bottom: 12px;
}

.reason-card p {
    color: #c5c5c5;
    font-size: 15   px;
}

.icon  {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 30px;
}


/*  FAQ */

.faq-section {
    margin-bottom: 50px;
}

.faq .question {
    width: 100%;
     transition: all .3s ease;
   
}

.faq .question:hover {
    background-color: #414141;
    
    cursor: pointer;
}

.question {
    min-height: 55px;
    background: #2d2d2d;
    margin-bottom: 3px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.plus {
    font-size: 28px;
    font-weight: 200;
}

.signup-section {
    width: 100%;
    padding: 64px 10px 30px;
}

/* Heading */
.signup-section h3 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 14px;
}

/* Input + Button */
.form-box {
    width: 790px;
    margin: auto;
    display: flex;
    gap: 5px;
}

/* Email box */
.email-box2 {
    width: 510px;
    height: 64px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: #111;
    padding: 10px 16px;
}

.email-box2 label {
    display: block;
    color: #aaa;
    font-size: 12px;
    margin-bottom: 5px;
}

.email-box2 input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
}

/* Button */
.form-box button {
    width: 275px;
    height: 57px;
    margin-top: 3px;

    background-color: #e50914;
    color: white;

    border: none;
    border-radius: 4px;

    font-size: 23px;
    font-weight: bold;

    cursor: pointer;
}

.form-box button span {
    font-size: 38px;
    font-weight: normal;
    vertical-align: -3px;
    margin-left: 10px;
}

/* Hover */
.form-box button:hover {
    background-color: #f6121d;
}

/* Bottom text */
.signup-section p {
    margin-top: 18px;
    font-size: 16px;
    line-height: 22px;
    color: #b8d9ff;
    width: 100%;
}

.footer-links{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-links a {
    color: #aaa;
    font-size: 14px;
    text-decoration: none;
}
