 
.box{
     h1:nth-of-type(3){
    background-color:red;
    color:green
    }
    
  p:last-of-type{
    background-color: red;;
    color:green
} 

 p:nth-of-type(4){
    background-color:red;
    color:green
} 
}
.box1{
    h1:nth-of-type(3){
    background-color:red;
    color:green
    }

    h1:last-child{
    background-color: red;;
    color:green
} 
}

     h1:last-child{
    background-color: red;;
    color:green
}
